@keyframes transtionin {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.navbar{
    animation: transtionin .3s ease-in both;
}
.biggest{
    animation: transtionin 1.3s ease-in both;
}