*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
footer {
  color: white;
  background-color:#213555 ;
  text-align: center;
  position: relative;
  margin-top: 500px;
}
.footer-div {
    position: relative;
  bottom: 10px;
}
.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 160px;
}
.footer-links a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
}
.footer-links a:hover{
  color: #E5D283; 
}

.cp{
  font-size: large;
  color: rgba(237, 237, 237, 0.609);
}
.pppp{
  color: gray;
}
.footer_logo{
  position: absolute;
  left: 1700px;
  width: 150px;
}
.cp_div{
  width: fit-content;
  backdrop-filter: blur(50px);
  margin-bottom: 10px;
}
.cp_div_con{
  display: flex;
  justify-content: center;
}