footer {
  color: white;
  background-color:#213555 ;
  text-align: center;
  margin-top:500px;
}
.footer-div {
    position: relative;
  bottom: 30px;
}
.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100px;
}
.footer-links a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
}
.footer-links a:hover{
  color: #E5D283;
  transition: 0.5s;
}