body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/IMGS/white-background-with-zigzag-pattern-design_1017-33197.jpg");
}
.cont{
    display: flex;
    justify-content: center;
}
#container{
    background-color: #d1d1d1;
    width: 88%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.h1{
    display: flex;
    justify-content: center;
    position: relative;
    top: 65px;
    scale: 2.2;
    margin: 20px;
    color: black;
}

.h{
    scale: 1.6;
    margin-top: 120px;
}
.img1{
    height: 290px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;

}
.card{
    width: 27%;
    text-align: center;
    display: inline-block;
    height: 520px;
    margin-top: 7%;
    background-color: #dedede;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: .5s;     
}
.card:hover{
    background-color: #424769;
    cursor: pointer;
    box-shadow: 10px 13px 10px 10px rgba(59, 59, 59, 0.683); 
}

.card:hover .card-icon,
.card-icon:focus {
  filter: invert(89%);
  transition: .5s; 

}
/* King Abdulaziz word */
.king_con{
    display: flex;
    justify-content: center;
}
.KingAbdu{
    margin: 20px;
    background-color: #dedede;
    width: 90%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.KingAbdu{
    display: flex;
    justify-content: space-around;
}
.Word{
    margin-top: 10px;
    width: 600px;
    height: fit-content;
    text-align: -webkit-center;
    position: relative;
    top: 200px;
    padding: 26px;
}
.Word{
    box-shadow: 12px 12px 2px 1px rgba(80, 80, 80, 0.453);
    transition: 1s;
    transition: transform 0.3s ease-in-out;
}
.KingWord{
    scale: 1.5;
    margin: 13px;
}
.Word:hover{
    transform: scale(1.099);
    transition: 1s;
}

.KingName{
    position: absolute;
    color: gray;
    
}
.KingPhoto{
    border-radius: 50%;
    margin-top: 20px;
}
.KingPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/* section */
.idk_con{
    display: flex;
    justify-content: center;
}
#idk{
    background-color: #dedede;
    width: 90%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
   
.p_con{
    height: 140px;
    padding: 20px;
}
.p_con h3{
    color: #213555;
    text-align: center;
    scale: 1.6;
}

.card2{
    width: 480px;
    margin: 26px;
    height: 550px;
    background-color: #dedede;
    z-index: 101;
    box-shadow: 12px 12px 2px 1px rgba(80, 80, 80, 0.453);
    transition: transform 0.3s ease-in-out;
}
.card2:hover{
    transform: scale(1.09);
    transition: .9s;
}
.card2_con{
    display: flex;
    justify-content: center;
}
.iconjus_con{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.header{
    display: flex;
    justify-content: center;
    scale: 1.6;
    margin-top: 20px;
}
.abt{
    display: flex;
    text-align: center;
    height: 200px;
    margin: 40px;
    font-size: large;
}

/* Lawyers */
.law_con{
    display: flex;
    justify-content: center;
}
.Lawyers{
    width: 90%;
    background-color: aqua;
}
.law_card_con{
    border: 2px solid;
    background-color: #213555;
    display: flex;
    justify-content: space-around;
}
.law_card{
    border: 2px solid;
    background-color: #dedede;
    margin: 60px;
    width: fit-content;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: black;
}
.law_card h1{
    scale: 1.8;
}
.law_card:hover{
    transform: scale(1.09);
    transition: .9s;
    cursor: pointer;
}
.law_title{
    display: flex;
    justify-content: center;
}
.h222{
    scale: .7;
}