body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/IMGS/white-background-with-zigzag-pattern-design_1017-33197.jpg");
    height: 300px;
}
h1{
    color: #2e4a77;   
}
.cont{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-right: 100px;
}
.img_and_abt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    gap: 100px;
    width: 90%;
    margin-right: 50px;
}
.certificate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gainsboro;
    height: 200px;
    width: 90%;
    margin-right: 50px;
}
.img1{
    width: fit-content;
    height: 500px;
    position: relative;
    bottom:90px;
}
#img1{
    position: relative;
    right:110px;
    scale: 1.25;
    
}
.abdullah{
    width: 400px;
    height: 500px;
}
.ali{
    width: 300px;
    height: 400px;
}
#moh{
    margin-right:150px ;
    top: 30px;
    scale: 2.5;
}
.info{
    padding-right: 0px;
    margin-top: 175px;
}
.info h1{
    margin-right: 130px;
    scale: 2.5;
}
.info p{
    scale: 1.5;
    margin-top: 100px;
}
.info2 {
    margin-right: 1000px;
}
.info2 h1{
    scale: 1.9;
    margin-right: 100px;
}
.info2 h2{
    scale: 1.1;
    margin-top: 20px;
    margin-left: 90px;
    color: #2e4a77
}
.info2 p{
    scale: 1.2;
    margin-top: 30px;
}