body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/IMGS/white-background-with-zigzag-pattern-design_1017-33197.jpg");
    height: 500px;
}
h1{
    color: #2e4a77;   
}
.cont{
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
    top:400px;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: gainsboro;
    width: 90%;
}
.img1 {
    width: fit-content;
    height: 700px;
    position: relative;
    bottom:90px;
}
#img1{
    scale: 1.25;
    position: absolute;
}
.ali{
    width: 300px;
    height: 400px;
}
.moh{
    position: relative;
    right: 100px;
}
#moh{
    position: relative;
    right: 290px;
    top: 30px;
    scale: 2.5;
}
.info h1{
    position: relative;
    right: 230px;
    top: 30px;
    scale: 2.5;
}
.info p{
    scale: 1.25;
    position: relative;
    top: 250px;
    left: 200px;
}
.info2 {
    position: relative;
    top:500px;
}
.info2 h1{
    scale: 1.9;
}
.info2 h2{
    scale: 1.1;
    position: relative;
    top: 20px;
    left: 90px;
    color: #2e4a77
}
.info2 p{
    position: relative;
    top: 50px;
    left: 70px;
}
.abdullah{
    width: 400px;
    height: 500px;
}