body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 3000px;
}
h1 {
    color:#213555;
}
.services {
    text-align: center;
}
.services h1 {
    position:relative;
    top: 20px;
    scale: 2;
}
.container{
    text-align: center;
    margin-top: 20px;
    height: 1050px;
}
.services p {
    position: relative;
    top: 40px;
    color: #969696;
}
.img1 {
    position: relative;
    left:15px ;
    width:400px;
}
.card {
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    text-align: center;
    border: 1px solid #213555;
    background-color:#f0f0f0;
    height: 450px;
    width:500px;
}
.card:hover {
    background-color:#FFF2D8;
    transition: 0.5s;
}
.cards { 
    position: relative;
    top: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;
}
.card h2 {
    color:#213555 ;
    position: relative;
    scale: 1.5;
}
.card p {
    color: #969696;
    position: relative;
    top: 50px;
    font-size: 20px;
}
.card:hover p{
    color: #868686;
    transition: 0.5s;
}
.card:hover .card-icon,
.card-icon:focus {
  filter: invert(30%);
  transition: .5s; 
}
#form{
    text-align: center;
}
.form{
    height: fit-content;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.req {
    text-align: center;
    width: 1000px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}
.form1 {
    gap:50px ;
    scale: 1.5;
    margin-top: 30px;
}
.input{
    border: 1px solid #969696;
    border-radius: 7px;
}
#att{
    color: #969696;
}
.req1{
    width: 250px;
}
