*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration: none;
}
body{
    margin-top: 200px;
    background-color: #F0F0F0;
  }
  .link{
    color: #213555;
  }
  .link:hover {
    color: darkgoldenrod;
    scale: 1.7;
    transition: 0.5s;
  }
  .info3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-right: 190px;
    width: 250px;
  }
  .Sing-up-box{
      width: 650px;
      height: 750px;
      margin: auto;
      background-color: white;
      margin-top: 20px;
  
  }
  h1{
      text-align: center;
      padding-top: 15px;
  }
  h4{
      text-align: center;
  }
  form{
      width: 300px;
      margin-left: 20px;
  }
  .info3 input{
    scale: 1.3;
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 13px;
    outline: none;
  }
  .check{
    width: 300px;
    margin-top: 50px;
    margin-right: 150px;
  }  
    #sssi{
      position: none;
    }
    #acc{
      margin-top: 20px;
      margin-right: 80px;
      text-align: center;
    }
    .sub{
      border:1px solid gray;
      border-radius: 13px;
      display: flex;
      justify-content: center;
      color: #213555;
      position: relative;
      right: 195px;
      background-color: #FFFFFF;
      text-align: center;
      font-size: 17px;
      padding: 16px;
      width: 130px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 50px;
      margin-left: 5em;
     }
     .sub:hover{
      color: #FFFFFF;
      background-color: #213555;
      transition: 0.5;
     }
  body{
       overflow-x: hidden;
  }
  footer {
    color: white;
    background-color:#213555 ;
    text-align: center;
    margin-top:500px;
  }
  .footer-div {
      position: relative;
    bottom: 30px;
  }
  .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100px;
  }
  .sub_div{
    width: fit-content;
  }